<div class="footer">
   <div class="container">
      <p class="copy">&copy; {{ site.time | date: '%Y' }} Charte graphique réalisée par Manon Couilloud, Marine Beaulieu, Lucie Lefebvre, et Elisa Dupont</p>

      <div class="footer-links"> 
         <ul class="noList"> 
            {% if site.social.facebook %}
            <li><a href="https://www.facebook.com/{{ site.social.facebook }}">facebook</a></li>
            {% endif %}
            {% if site.social.github %}
            <li><a href="https://github.com/{{ site.social.github }}">github</a></li>
            {% endif %} 
            {% if site.social.email %}
            <li><a href="mailto:{{ site.social.email }}">email</a></li>
            {% endif %}
         </ul>
      </div>
   </div>
</div><!-- end .footer -->

