
<section id="ghTree" class="ghTree" data-title="tree">
    <header>
        <h1>Liste des produits distribué par l'association Gourmandignes</h1>
    </header>
    <div class="table">
        {% assign sorted = (site.collections] | sort: 'producteur') |  %}
        
        {% for resource in sorted %} {% unless resource.url contains "index.html" or resource.url == "liste.html" %}
            {% for produit in site[resource.label] %}{% unless produit.url contains "index.html" or produit.url contains "liste.html" or resource.label == "contrats" or resource.label == "coordinateurs" or resource.label == "producteurs" %}
         <div class="row">
            <span class="cell"><a class="ghTreeReadmore" title="voir le détail du produit : {{ produit.nom }}" data-title="fileReadmoreLink"
            href="{{ produit.url }}">{{ produit.nom }}</a></span> 
        <!--
        {% if resource.illustration %}
            <span class="cell"><img src="/produits/{{ resource.illustration }}" width="100"></span>
        {% endif %}
        -->
            <span class="cell">
                (prix : {{ produit.prix }}) - voir contrat: <a class="ghTreeReadmore" title="voir le détail du contrat : {{ produit.contrats }}" data-title="fileReadmoreLink"
            href="/contrats/{{ produit.contrats }}"> {{ produit.contrats }}</a> . 
            </span>
        </div>
        {% endunless %}{% endfor %}
        {% endunless %}{% endfor %}
    </div>
</section>