
<section id="ghTree" class="ghTree" data-title="tree">
    <header>
        <script>
            const categorie = decodeURI(document.location.hash.substring(1));
            console.log(categorie);
            
            document.write('<h1>Liste des produits distribués par Gourmandignes : '); 
            document.write(categorie);
            document.write('</h1>');
            </script>
        
    </header>
    <div class="table">
        {% assign sorted = (site[page.collection] | sort: 'producteur') |  %}
        {% for resource in sorted %} {% unless resource.url contains "index.html" %}{% unless resource.url contains "categories.html" %}
        
        <div class="row">
            <span class="cell"><a class="ghTreeReadmore" title="voir le détail du produit : {{ resource.nom }}" data-title="fileReadmoreLink"
            href="{{ resource.url }}">{{ resource.nom }}</a></span> 
        <!--
        {% if resource.illustration %}
            <span class="cell"><img src="/produits/{{ resource.illustration }}" width="100"></span>
        {% endif %}
        -->
            <span class="cell">
                (prix : {{ resource.prix }}) - voir contrat: <a class="ghTreeReadmore" title="voir le détail du contrat : {{ resource.contrats }}" data-title="fileReadmoreLink"
            href="/contrats/{{ resource.contrats }}"> {{ resource.contrats }}</a> . 
            </span>
        </div>
        {% endunless %}{% endunless %} {% endfor %}
    </div>
</section>