
<section id="ghTree" class="ghTree" data-title="tree">
  <header>
    <h1>Liste des {{ page.collection | capitalize }}</h1>
  </header>
  <div class="grille">
    {% for resource in site[page.collection] %} {% unless resource.url contains
        "index.html" %}
    <div class="colonne">
        <div style="text-align: center; padding: 4px;">
                <a class="ghTreeReadmore" href="/contrats/{{ resource.nom }}.html">{{ resource.nom }}</a>
        </div>
        <div>
            <a href="/contrats/{{ resource.nom }}">
                <img src="{{ resource.illustration }}" width="260">
            </a>
        </div>
            
        <div class="details">
          <span >{{ resource.type }} </span>
            {% for coordo in resource.coordinateur %}
                <span><a class="ghTreeReadmore" href="/coordinateurs/{{ coordo }}.html">{{ coordo }}</a></span>
            {% endfor %}
            <span><a class="ghTreeReadmore" title="voir le détail du contrat : {{ resource.nom }}" data-title="fileReadmoreLink"
            href="/contrats/{{ resource.engagement }}"> [||||]</a></span>
        </div>
    </div>
    {% endunless %} {% endfor %}
</div>

</section>