
<section id="ghTree" class="ghTree" data-title="tree">
  <header>
    <h1>Liste des {{ page.collection | capitalize }}</h1>
  </header>
  <table id="table">
    <tr class="row">
        <th>Produit</th>
        <th>Producteur</th>
        <th>prix</th>
        <th>détails</th>
    </tr> 
    {% for resource in site[page.collection] %} {% unless resource.url contains
        "index.html" %}
    <tr class="row" data-title="dir">
        <td class="cell" style="width: 320px;">
            <span>{{ resource.nom }}</span> 
            {% if resource.illustration %}
                <span><img src="/produits/{{ resource.illustration }}" width="100"></span>
            {% endif %}
   
        </td>
        <td class="cell">
            {{ resource.producteur }}
        </td>
        <td class="cell" data-title="fileExcerpt">{{ resource.prix }}</td>
        <td class="cell">
            <a class="ghTreeReadmore" title="voir le détail du produit : {{ resource.nom }}" data-title="fileReadmoreLink"
            href="{{ resource.url }}">détail</a>
        </td>
    </tr>
    {% endunless %} {% endfor %}
</table>
  
</section>