
<section id="ghTree" class="ghTree" data-title="tree">
  <header>
    <h1>Liste des contrats proposés par l'amap</h1>
  </header>
  <div class="grille">
    {% for resource in site[page.collection] %} {% unless resource.url contains
        "index.html" %}
    <div class="colonne">
        <div style="text-align: center; padding: 4px;">
                <a class="ghTreeReadmore" href="{{ resource.url }}">{{ resource.nom }}</a>
        </div>
        <div>
            <a href="{{ resource.url }}">
                <img src="./media/{{ resource.illustration }}" width="260">
            </a>
        </div>
            
        <div class="details">coordination:
          <ul>{% for coordo in resource.coordinateur %}
            <li><a class="ghTreeReadmore" href="/coordinateurs/{{ coordo }}.html">{{ coordo }}</a></li>
          {% endfor %}
        </ul>
          <span >type: {{ resource.type }} </span>
          <br/>
          <span>doc: <a class="ghTreeReadmore" title="voir le détail du contrat : {{ resource.nom }}" data-title="fileReadmoreLink"
            href="/contrats/media/{{ resource.engagement }}"> [||||]</a></span>
        </div>
    </div>
    {% endunless %} {% endfor %}
</div>

</section>
