
<section id="ghTree" class="ghTree" data-title="tree">
  <header>
    <h1>Liste des {{ page.collection | capitalize }}</h1>
  </header>
  <div>
    {% for resource in site[page.collection] %} {% unless resource.url contains
        "index.html" %}
    <div class="row" data-title="dir">
        <div class="cell" style="width: 212px;">
            {% if resource.illustration %}
            <img class="illustration" src="/producteurs/media/vignette/{{ resource.illustration }}" alt="illustration du producteur" width="200px">
                
            {% endif %}
        </div>
        <div class="cell">
          <a class="ghTreeReadmore" title="voir le détail du producteur : {{ resource.nom }}" data-title="fileReadmoreLink"
            href="{{ resource.url }}">{{ resource.nom }}</a> 
          <p class="blobContent">
            {{ resource.description }}
              <ul>
                {% for contrat in resource.contrats %}
                    <li class="cell"><a href="/contrats/{{ contrat }}.html">{{ contrat }}</a></li>
                {% endfor %}
             </ul>
          </p>
          <p class="blobContent">Coordinateur.rice : 
            {% for coordo in resource.coordinateur %}
            <a class="ghTreeReadmore" title="voir le détail du coordinateur : {{ coordo }}" data-title="fileReadmoreLink"
            href="/coordinateurs/{{ coordo }}.html"> {{ coordo }}</a>
                {% endfor %}
            </p>
        </div>
      </div>
    {% endunless %} {% endfor %}
    </div>
  
</section>