<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">
    {%- include head.html -%}
    <body>
        {%- include header.html -%}
        <main class="container">
            <div class="blobContent">
                {%- for contenu in site.collections -%} {%- unless contenu.label == 'posts' or contenu.label == 'cremerie' or contenu.label == 'beaute' or contenu.label == 'legumes' or contenu.label == 'maison' or contenu.label == 'epicerie' or contenu.label == 'boulangerie' or contenu.label == 'boissons' or contenu.label == 'viande' %}
                <span class="blobContent">
                    <a href="/{{ contenu.label }}">{{ contenu.label | capitalize }}</a>
                </span>
                {%- endunless %} {%- endfor %}
                <span class="blobContent"><a href="http://recettes.gourmandignes.org/" target="_new">Recettes</a></span>
                <span class="blobContent"><a href="/gourmandignes/">Association</a></span>
                <span class="blobContent"><a href="https://cagette.gourmandignes.org/amap" target="_new">Cagette</a></span>
                <span class="blobContent"><a href="https://www.voisinville.in" target="_new">Espace CA</a></span>                
                </div>
            {{ content }}
        </main>
    </body>
</html>
